@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#map {
  height: 100%;
}

.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#firstHeading {
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

#home {
  padding-top: 30px;
  padding-left: 10px;
}

#profile {
  padding-top: 30px;
  padding-left: 10px;
}

#contact {
  padding-top: 30px;
  padding-left: 10px;
}

#bodyContent {
  font-family: 'Montserrat', sans-serif;
}

#sidebar-wrapper {
  min-height: 969px;
  margin-left: -240px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

#page-content-wrapper {
  min-width: 1920px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.brand {
  width: 240px;
  margin-left: 90px;
  position: fixed;
  bottom: 20px;
}

.nav-link {
  color: black;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
