@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#map {
  height: 100%;
}

.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900px;
}

.button {
  background-color: #009900;
  border: none;
  color: white;
  padding: 10px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
    color: #a9a9a9;
    text-decoration: none;
}

.brand {
  width: 180px;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  font-family: 'Montserrat', sans-serif;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
